<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="component-header">I'm in the AppComponent!</h1>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <app-servers></app-servers>
      <hr>
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p>{{username}}</p>
      <button class="btn btn-success" [disabled]="username === ''" (click)="username = ''">
        Reset User
      </button>
      <hr>
      <h1>Project Number 2</h1>
      <!--<button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button>-->
      <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
      <p *ngIf="showSecret">Secret Password = Tuna</p>
      <div *ngFor="let logItem of log; let i = index;"
           [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
           [ngClass]="{'white-text': logItem >= 4}">
        {{ logItem }}</div>
    </div>
  </div>
</div>
